@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root
{
    --primary-color: #54627B;
    --secondary-color: #ECD5BB;
}

body
{
    background-color: var(--primary-color);
    overflow: hidden;
    scroll-behavior: smooth;
  

    .container
    {
        height: 100vh;

        .upper
        {
            header
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 35px 60px;

                .left-content
                {
                    display: flex;
                
                    img
                    {
                        align-self: center;
                        width: 30px;
                        height: 25px;
                    }
                    h1
                    {
                        color: var(--secondary-color);
                        margin-left: 10px;
                    }
                
                }
            
                .right-content
                {
                    display: flex;
                    margin-right: 200px;
                    gap: 50px;
                
                    ul li
                    {
                        list-style: none;

                        a
                        {   
                            align-self: center;
                            color: var(--secondary-color);
                            margin-right: 10px;
                            text-decoration: none;
                            font-size: 1.2rem;
                            padding: 12px 0px;
                            border-radius: 4px;

                            &:hover
                            {
                                border-bottom: 1px solid var(--secondary-color);
                            }
                        }
                    }
                }
            }
        }

        .lower
        {
            height: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 60px;
            animation: fade .5s ease-in;

            .left-content
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 50px;

                .vaccinated, .unvaccinated, .first-dose
                {
                    display: flex;
                    justify-content: space-around;
                    width: 400px;
                    height: 150px;
                    background-color: white;
                    border-radius: 15px;
                    box-shadow: 2px 1px 15px rgb(63, 63, 63);

                    .left
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 15px;
                        color: var(--primary-color);
                    }
                    .right
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        
                        img
                        {
                            margin-bottom: 30px;
                            width: 15rem;
                        }
                    }
                }
            }

            .right-content
            {
                display: flex;
                flex-direction: column;
                gap: 100px;
                justify-content: center;
                align-items: center;

                .total-population, .new-citizen
                {
                    padding: 20px;
                    width: 800px;
                    height: 230px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    color: var(--primary-color);
                    border-radius: 20px;

                    img
                    {
                        width: 100%;
                        height: 5rem;
                    }

                    .new-citizen
                    {
                        img
                        {
                            filter: invert(50%);
                        }
                    }

                }
            }
        }
    }
}

@keyframes fade
{
    from
    {
        transform:translateY(-10px);
        opacity: 0;
    }

    to
    {
        opacity: 1;
        transform:translateY(0px);
    }
}